{{
  active = "about"
  sidebar_enabled = False
  title = "About page"
}}

{{extend "layout.html"}}

<h1>About</h1>

Life for Rent is a web application that allows users to rent and share their review with others.



<h3>Contributors</h3>
<div class="article">
<table>
<tr>
<td><img src="{{=URL('static/assets/images','mert.jpg')}}" height="312" width="250" alt=""/>
<b><br>Mert Akın</b></td>
<td><img src="{{=URL('static/assets/images','selman.jpg')}}" height="312" width="250" alt=""/>
<b> <br> Selman Tosun</b></td>
  

</tr>
</table>

</div>






