{{extend "layout.html"}}




<!-- Form horizontal -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						
						
					</div>

					<div class="panel-body">
						

						<form class="form-horizontal" action="#">
							<fieldset class="content-group">
								<legend class="text-bold">Contact Us</legend>

								<div class="form-group">
									<label class="control-label col-lg-2">Name</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" placeholder="Enter your name">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-lg-2">Email</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" placeholder="Enter your email">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-lg-2">Telephone Number</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" placeholder="Enter your telephone number">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-lg-2">Message</label>
									<div class="col-lg-10">
										<input type="text" class="form-control" placeholder="Enter your message">
									</div>
								</div>
								

								
							</fieldset>
							
				<!-- Basic modals -->		
					 <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_default">Send <i class="icon-play3 position-right"></i></button></td>

						            <!-- Basic modal -->
				<div id="modal_default" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h5 class="modal-title">Warning</h5>
							</div>

							<div class="modal-body">
								
								
								<h6 class="text-semibold">The contact feature is under construction </h6>
								<p></p>
								
								
								<p>We continue to improve our web page. Thank you for your cooperation and patience.</p>		
								
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
							
							</div>
						</div>
					</div>
				</div>
				<!-- /basic modal -->
						</form>
					</div>
				</div>
				<!-- /form horizontal -->