{{
active = "one_rent"
title = "one_rent"
}}
{{extend "layout.html"}}


<h1>{{=rent.title}}

<b>{{=rent.seller}}</h1> </b>
<div class="article">
<img width="200px"
     src="{{=URL('download', args=rent.image)}}" />
<h3>İlan Bilgileri</h3>
<b><p>Description : {{=rent.description}} </p>
<p>Year :  {{=rent.twelvemonth}} </p>
<p>Price :  {{=rent.price}} </p>
<p>Room Number :  {{=rent.room}} </p></b>

</ul>
{{pass}}
</div>


{{if len(comments):}}
  <h2>Comments</h2><br /><p>
  {{for comment in comments:}}
    <b><p>{{=comment.writter}} says  </b><i>{{=comment.body}}</i></p>
  {{pass}}</p>
{{else:}}
  <h2>No comments posted yet</h2>
{{pass}}



{{if auth.user:}}


Post a comment if you want:
{{=form}}

{{else:}} 
	
    For add a new comment , you must login 
	
{{pass}}
