{{
  active = "rents_page"
  sidebar_enabled = False
  title = "rents_page"
}}

{{extend "layout.html"}}

<h2>Rents</h2>

<div class="article">
<ul>
{{for rent in rents:}}
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h6 class="panel-title">
								 
									<button type="button" class="btn btn-default">{{=LI(A(rent.title, _href=URL("rent" ,"view", args=rent.id)))}}</button>
								
								</h6>
								
							</div>
								<img width="200px"
								src="{{=URL('download', args=rent.image)}}"   
								
								
							<div class="panel-body">
								{{=rent.description}}

								<p>{{=rent.price}}</p>
								
								
							</div>
						</div>
{{pass}}
</ul>




<h6 class="content-group text-semibold no-margin-top">
							
							<small class="display-block"></small>
						</h6>

						<div class="panel-group content-group-lg" id="accordion1">
							<div class="panel panel-white">
								<div class="panel-heading">
									<h6 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion1" href="#accordion-group1">Add another rent</a>
									</h6>
								</div>
								<div id="accordion-group1" class="panel-collapse collapse in">
									<div class="panel-body">
									{{if auth.user:}}	
									{{=form}}

									</div>
									{{else:}} 
	
									For add a new post , you must login 
	
									{{pass}}
									</div>
								</div>
							</div>
