
{{extend "layout.html"}}

<h1>Review</h1>
<h6 class="content-group text-semibold no-margin-top">
				{{for review in reviews:}}			
							<small class="display-block"></small>
						</h6>

						<div class="panel-group content-group-lg" id="accordion1">
							<div class="panel panel-white">
								<div class="panel-heading">
									<h6 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion1" href="#accordion-group1">{{=review.title1}}</a>
									</h6>
								</div>
								<div id="accordion-group1" class="panel-collapse collapse in">
									<div class="panel-body">
										
										<p>{{=review.penman}}</p>
										<p>{{=review.location1}}</p>
										<p>{{=review.textbox1}}</p>
										
									</div>
								</div>
							</div>
				{{pass}}			
							

{{=form1}}






