{{
active="view"
}}

{{extend 'layout.html'}}



<h1>{{=rent.title}}

<b>{{=author.username}}</h1> </b>
<div class="article">




						<h6 class="content-group text-semibold no-margin-top">
							
							<small class="display-block"></small>
						</h6>

						<div class="panel-group content-group-lg" id="accordion1">
							<div class="panel panel-white">
								<div class="panel-heading">
									<h6 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion1" href="#accordion-group1">Image #1</a>
									</h6>
								</div>
								<div id="accordion-group1" class="panel-collapse collapse in">
									<div class="panel-body">
									<img width="200px"
     src="{{=URL('default','download', args=rent.image)}}" />

									</div>
								</div>
							</div>

							<div class="panel panel-white">
								<div class="panel-heading">
									<h6 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion-group2">Image #2</a>
									</h6>
								</div>
								<div id="accordion-group2" class="panel-collapse collapse">
									<div class="panel-body">
										Тon cupidatat skateboard dolor brunch. Тesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda.
									</div>
								</div>
							</div>

							<div class="panel panel-white">
								<div class="panel-heading">
									<h6 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion-group3">Image #3</a>
									</h6>
								</div>
								<div id="accordion-group3" class="panel-collapse collapse">
									<div class="panel-body">
										3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it.
									</div>
								</div>
							</div>
						</div>



						<div class="panel panel-flat">
							<div class="panel-heading">
								<h6 class="panel-title"><h3>İlan Bilgileri</h3></h6>
							</div>
							
							<div class="panel-body">
								<b><p>Description : {{=rent.description}} </p>
								<p>Year :  {{=rent.twelvemonth}} </p>
								<p>Price :  {{=rent.price}} </p>
								<p>Room Number :  {{=rent.room}} </p></b>
							</div>
						</div>




</ul>
{{pass}}
</div>


</div>
{{if auth.user and (author.id == auth.user.id or
                    auth.has_membership(role="admin")):}}
<a href="{{=URL('rent','edit', args=rent.id)}}">Edit this rent</a>
{{pass}}
{{if len(comment1):}}
  <h2>Comments</h2><br /><p>
  {{for comment in comment1:}}
    <p><a href="{{=URL('default','profile', args=comment.name)}}">{{=comment.author}}</a> <b>says</b> <i>{{=comment.body}}</i></p>
  {{pass}}</p>
{{else:}}
  <h2>No comments posted yet</h2>
{{pass}}
{{if auth.is_logged_in():}}
<h2>Post a comment</h2>
{{=form}}
{{pass}}
