{{

sidebar_enabled = globals().get("sidebar_enabled", True)
title = globals().get("title", "")

   
   
   
   def my_menu():
   # active = active or ""
   active = globals().get("active", "")
   items = []
   mylist = UL()         
   for (path, text) in items:
      href = URL(path)
      if path == active: 
          new_item= LI(A(text, _href=href, _class="active"))
          mylist.components.append(new_item)          
      else:  
          new_item= LI(A(text, _href=href))
          mylist.components.append(new_item)          
          pass
      pass
   return mylist            
}}






<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Life for Rent</title>

   
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    
    <link href="{{=URL('../WEB/static/assets/css','bootstrap.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('../WEB/static/assets/css','bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('../WEB/static/assets/css','colors.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('../WEB/static/assets/css','colors.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('../WEB/static/assets/css','components.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('../WEB/static/assets/css','components.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('../WEB/static/assets/css','core.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('../WEB/static/assets/css','core.min.css')}}" rel="stylesheet" type="text/css"/>
  

	<!-- /global stylesheets -->

	
	<!-- Core JS files -->
	
	<script type="text/javascript" src="{{=URL('../WEB/static/assets/js/plugins/loaders/','pace.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('../WEB/static/assets/js/core/libraries/','jquery.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('../WEB/static/assets/js/core/libraries/','bootstrap.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('../WEB/static/assets/js/plugins/loaders/','blockui.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('../WEB/static/assets/js/plugins/ui/','nicescroll.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('../WEB/static/assets/js/plugins/ui/','drilldown.js')}}"></script>
	<!-- /core JS files -->


	<!-- Theme JS files -->
	<script type="text/javascript" src="{{=URL('../WEB/static/assets/js/core','app.js')}}"></script>
	<!-- /theme JS files -->


</head>

<body>

	
	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
		
			<a class="navbar-brand" href="{{=URL('default','index')}}"><img src="{{=URL('static/assets/images','logowebsmall.png')}}" width="150" height="34" alt=""></a>


			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>
			<ul class="nav navbar-nav navbar-right">
							
                            <li class="dropdown language-switch">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="{{=URL('../WEB/static/assets/images/flags/','gb.png')}}" class="position-left" alt="">
						English
						<div <i class="glyphicon glyphicon-chevron-down"></i></div>
					</a>

					<ul class="dropdown-menu">
						<li><a class="english"><img src="{{=URL('../WEB/static/assets/images/flags/','gb.png')}}" alt=""> English</a></li>
						<li><a class="turkish"><img src="{{=URL('../WEB/static/assets/images/flags/','tr.png')}}" alt=""> Turkish</a></li>
						
					</ul>
				</li>
                
							{{if auth.user:}}
                            
                            <p class="navbar-text"><span class="label bg-success-400">Online</span></p>
							<li class="dropdown dropdown-user">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<img src="{{=URL('../WEB/static/assets/images','usericon.jpg')}}" alt=""> 
								<!-- <link href="{{=URL('../WEB/static/assets/images','placeholder.jpg')}}" rel="stylesheet" type="text/css"/> -->
									{{if auth.user:}}
									<span>{{=auth.user.username}}</span>
									{{pass}}
									<div <i class="glyphicon glyphicon-chevron-down"></i></div>
								</a>

								<ul class="dropdown-menu dropdown-menu-right">
								
									{{if auth.user:}}
									<li><a href="{{=URL('default' , 'profile' , args=auth.user.username)}}"><i class="glyphicon glyphicon-heart-empty"></i> My profile</a></li>									{{pass}}
									
									<li><a href=""><span class="badge badge-warning pull-right"  >0</span> <i class= "glyphicon-pencil"> </i> Messages</a></li>
									<li class="divider"></li>
									<li><a href="{{=URL('default', 'user', args='profile',
                     vars=dict(_next=request.env.path_info))}}"><i class="glyphicon glyphicon-wrench"></i> Account settings</a></li>
									<li><a href="{{=URL('default', 'user', args='logout',
                     vars=dict(_next=request.env.path_info))}}"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
								</ul>
							</li>
							{{else:}} 
                            <li class="active"><a href="{{=URL('default/user','register')}}"><i class="glyphicon glyphicon-registration-mark"></i><b> Register</b></a></li>
							<li class="active"><a href="{{=URL('default/user' , 'login')}}"><i class="glyphicon glyphicon-user"></i><b> Login</b></a></li>
							{{pass}}
			</ul>
					
		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav">
				<li><a href={{=my_menu()}}</a></li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->
<!-- Second navbar -->
	<div class="navbar navbar-default" id=d"navbar-second">
		<ul class="nav navbar-nav no-border visible-xs-block">
			<li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
		</ul>

		<div class="navbar-collapse collapse" id="navbar-second-toggle">
			<ul class="nav navbar-nav">
                <li class="active"><a href="{{=URL('default','index')}}"><i class="glyphicon glyphicon-home"></i><b> Home</b></a></li>
                <li class="active"><a href="{{=URL('default','about')}}"><i class="glyphicon glyphicon-search"></i><b> About</b></a></li>
                <li class="active"><a href="{{=URL('default','rents_page')}}"><i class="glyphicon glyphicon-leaf"></i><b> Rents</b></a></li>
                <li class="active"><a href="{{=URL('default','review')}}"><i class="glyphicon glyphicon-tint"></i><b> Review</b></a></li>
                <li class="active"><a href="{{=URL('default','contact')}}"><i class="glyphicon glyphicon-envelope"></i><b> Contact</b></a></li>
			
			</ul>
			<ul class="nav navbar-nav">
				
				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				
				
			</ul>
		</div>
	</div>
	<!-- /second navbar -->


	<!-- Page container -->
	<div class="page-container">
			{{include}}
		<!-- Page content -->
		<div class="page-content">
			
			<!-- Main content -->
			<div class="content-wrapper">


			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->


	<!-- Footer -->
	<div class="footer text-muted text-center">
		<a href="#">Life for Rent</a>
	</div>
	<!-- /footer -->

</body>
</html>
